<!doctype html>
<html>
        <head>
                <title>{{title}}</title>
                {{{media}}}
                <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link rel="stylesheet" href="/css/site.css">
                <script src="/lib/jquery/jquery.min.js"></script>
                <script src="/lib/materialize/js/materialize.min.js"></script>
        </head>
        <body data-proxy-base="{{proxyBase}}">
                <div class="container">
                        {{{body}}}
                </div>
        </body>
</html>
<!-- vi: set ft=html: -->
