.country input {
	width: 50px;
	text-align: center;
}
.country:before {
	content: '+';
}
form:invalid {
	outline: 0 !important;
}
.privacy {
	max-width: 600px;
	padding: 4px 20px;
	margin-top: 2em;
	border-radius: 4px;
	background: #e2edff;
	border: 1px solid #639dff;
	font-size: small;
	line-height: 1.5em;
}
.privacy tt {
	padding: 4px 8px;
	background: #fdfdfd;
	border-radius: 4px;
	border-bottom: 1px dashed #333;
}
input {
	border-radius: 3px;
	margin: 0;
}
input#phone {
	width: 150px;
}
input#code {
	width: 80px;
}
.another {
	margin-top: 2em;
}
.error {
	color: #900;
}
