{{!< html}}
<form method="post" action="{{linkBase}}/local">
{{#if message}}
	<div class="error">{{message}}</div>
{{/if}}
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="hidden" name="_csrf" value="{{csrf}}" />
	<button type="submit">Sign in</button>
</form>
<p><a href="{{linkBase}}">Sign in with a different account</a></p>
