{{!< html}}
<link rel="stylesheet" href="/lib/input-masking/masking-input.css"/>
<link rel="stylesheet" href="/css/passport-sms.css"/>
<h2>Confirm receipt</h2>
<form method="post" action="{{linkBase}}/sms/confirm">
{{#if message}}
	<div class="error">{{message}}</div>
{{/if}}
	<p>
		<label for="code">Code</label>
		<input type="text" id="code" name="code" placeholder="XXXXX" class="masked" pattern="\d{5}" autocomplete="off" />
	</p>
	<input type="hidden" name="_csrf" value="{{csrf}}" />
	<button type="submit">Sign in</button>
</form>
<p class="another"><a href="{{linkBase}}/sms">Send another code</a></p>
<script src="/lib/input-masking/masking-input.js" data-autoinit="true"></script>
