{{!< html}}
<link rel="stylesheet" href="/lib/input-masking/masking-input.css"/>
<form method="post" action="{{linkBase}}/sms/complete">
	<label for="code">Six-digit code</label>
	<input type="code" name="code" id="code" placeholder="XXX-XXX" class="masked" pattern="\d{3}-\d{3}" autocomplete="off" />
	<input type="hidden" name="_csrf" value="{{csrf}}" />
	<button type="submit">Log in</button>
</form>
<script src="/lib/input-masking/masking-input.js" data-autoinit="true"></script>
