{{!< html}}
<link rel="stylesheet" href="/lib/input-masking/masking-input.css"/>
<link rel="stylesheet" href="/css/passport-sms.css"/>
<h2>Sign in via SMS</h2>
<form method="post" action="{{linkBase}}/sms/send">
{{#if message}}
	<div class="error">{{message}}</div>
{{/if}}
	<p>
		<label for="phone">Mobile number</label>
		<span class="country"><input type="text" name="country" value="1" maxlength="3" autocomplete="off" /></span>
		<input type="text" id="phone" name="phone" placeholder="XXX-XXX-XXXX" class="masked" pattern="\d{3}-\d{3}-\d{4}" autocomplete="off" />
	</p>
	<input type="hidden" name="_csrf" value="{{csrf}}" />
	<button type="submit">Send code</button>
</form>
<script src="/lib/input-masking/masking-input.js" data-autoinit="true"></script>
